body{
    width: 50%;
    margin: auto;
   
}

ul{
    list-style-type: none;
}

li{
    /*padding-right: 10px;*/
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
}

input{
    text-align: left;
    background-color: lightgrey;
    width: 50%;
    border: none;
    border-bottom: solid grey 1px;
    padding: 10px 10px 0px 10px;
    font-size: 18px;
}

label{
    text-align: left;
    width: 100px;
}

label, input{
    display: inline-block;
}

div {
    background-color:  lightgrey;
    padding: 10px;
    border-radius: 10px;
     height: 500px;
}

.nothing {
    margin: 0px;
    padding: 0px;
    display: inline;
    width: 20px;
}

button{
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px;
    border: none;
    width: 20%;
    background-color: grey;
    text-align: center;
    margin: auto;
    transition: all 0.5s;
}

button:hover{
    background-color: lightgrey;
}
